@import "../node_modules/bootstrap/scss/bootstrap";


.jumbotron{
	background-image: url("../assets/img/waldemar-brandt-eIOPDU3Fkwk-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}