.overlayView {
position: fixed;
left: 0px;
top:0px;
background-color: rgba(0,0 ,0 , 0.5);
width: 100%;
height: 100%;
z-index:1;
display:none;
}
.popup{
margin: 10% auto;
width : 70%;
}

.close{
	position: absolute;
	top: 2px;
	right: 5px;
}

.open{
	position: absolute;
	top: 2px;
	right: 5px;
  :hover{
  	color: gray;
  }
}